*{
    margin: 0px;
    padding: 0;
    
}
.edu-div{

}

.body-main{

}

.main-header{
    background-color: #292b2c;
    color: white;
    text-align: center;
    align-content: center;
    height: 400px;
}
.header-name{
   
}
